<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carapihelloworld">

    <!-- Android 14 사용 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- GEAR_SELECTION -->
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN" />
    <!--EV battery_Level, EV_CHARGE_TIME_REMAINING-->
    <uses-permission android:name="android.car.permission.CAR_ENERGY" />
    <!-- FUEL_DOOR_OPEN -->
    <uses-permission android:name="android.car.permission.CAR_ENERGY_PORTS" />
    <!-- CAR_TIRES -->
    <uses-permission android:name="android.car.permission.CAR_TIRES" />
    <!-- INFO_EV_BATTETY_CAPACITY-->
    <uses-permission android:name="android.car.permission.CAR_INFO" />
    <!-- EV battery, Fuel Volume, tire Pressure-->
    <uses-permission android:name="android.car.permission.READ_CAR_DISPLAY_UNITS" />

    <!-- PERF_VEHICLE_SPEED -->
    <uses-permission android:name="android.car.permission.CAR_SPEED" />

    <!-- FUEL_DOOR_OPEN for setBooleanProperty() -->
    <uses-permission android:name="android.car.permission.CONTROL_CAR_ENERGY_PORTS" />
    <!-- For Gear -->
    <uses-permission android:name="android.car.permission.CAR_PERMISSION_POWERTRAIN" />



    <uses-permission android:name="android.permission.SET_DEBUG_APP"
        tools:ignore="ProtectedPermissions" />



    <application

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jyjang.carSpeed.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="androidx.car.app.CarAppService"/>
                <category android:name="androidx.car.app.category.POI"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
